.main {
    display: none;
    opacity: 0;


}

/* .loader {
    position: fixed;
    z-index: 100;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fff;

} */

.loader img {

    display: flex;
    justify-content: center;
    align-items: center;

}

/* LOADER 3 */
 .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > span {
  display: inline-block;
  background-color: #f5a706;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: #f5a706;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}


@media (max-width: 576px) {
    .loader {
        min-height: 40vh;
    }
}
